body{
    margin: 0;
}

#wrapper{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    position: relative;
    /* cursor: none; */
}

#block{
    width: 20px;
    height: 20px;
    background-image: url(./assets/img/cursor-default-outline.svg);
    background-size: cover;
    position: absolute;
}