.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product{
    width: 250px;
    padding-bottom: 15px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid orangered;
    margin-top: 10px;
}
.product-name{
    margin: 0.4em;
    color: orangered;
    font-size: 2em;
    margin-bottom: auto;
}
.product-category{
    font-size: 1.2em;
    margin: 0;
    margin-top: 1em;
}
.product-price{
    font-size: 2.5em;
    margin: 0.8em;
}
.product-addtocart{
    background-color: orangered;
    color: white;
    padding: 20px;
    font-size: 1.2em;
    border: none;
}