.subsribe{
    position: fixed;
    top: 20vh;
    left: 35vw;
    width: 30vw;
    background-color: pink;
    padding: 10px;
    text-align: center;
}
.subsribe span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.subsribe-form{
    display: flex;
    flex-direction: column;
}
.subsribe-form input,
.subsribe-form button{
    margin-bottom: 10px;
    font-size: 1.2em;
}
.subsribe-form input{
    text-align: center;
}

@media screen and (min-width: 986px) {
    .subsribe{
    left: 30vw;
    width: 40vw;
}
}

@media screen and (min-width: 1200px) {
    .subsribe{
    left: 35vw;
    width: 30vw;
}
}